<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BorrarU</servlet-name>
        <servlet-class>BorrarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conexionU</servlet-name>
        <servlet-class>Control.conexionU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarA</servlet-name>
        <servlet-class>BorrarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarM</servlet-name>
        <servlet-class>BorrarM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conexionM</servlet-name>
        <servlet-class>Control.conexionM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreEditarM</servlet-name>
        <servlet-class>PreEditarM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarM</servlet-name>
        <servlet-class>EditarM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarM</servlet-name>
        <servlet-class>GuardarM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarU</servlet-name>
        <servlet-class>GuardarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarU</servlet-name>
        <servlet-class>EditarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlIS</servlet-name>
        <servlet-class>ControlIS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIS</servlet-name>
        <servlet-class>ControladorIS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarCookie</servlet-name>
        <servlet-class>GuardarCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrarU</servlet-name>
        <url-pattern>/BorrarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conexionU</servlet-name>
        <url-pattern>/conexionU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarA</servlet-name>
        <url-pattern>/BorrarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarM</servlet-name>
        <url-pattern>/BorrarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conexionM</servlet-name>
        <url-pattern>/conexionM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreEditarM</servlet-name>
        <url-pattern>/PreEditarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarM</servlet-name>
        <url-pattern>/EditarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarM</servlet-name>
        <url-pattern>/GuardarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarU</servlet-name>
        <url-pattern>/GuardarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarU</servlet-name>
        <url-pattern>/EditarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlIS</servlet-name>
        <url-pattern>/ControlIS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIS</servlet-name>
        <url-pattern>/ControladorIS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarCookie</servlet-name>
        <url-pattern>/GuardarCookie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
